html,
body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background-color: #000000;
    color: #6cff6c;
}

.terminal-image {
    max-width: 100%;
    height: auto;
}

body {
    font-family: "Courier New", monospace;
    padding: 30px;
}